
<!-- CHAT -->
<div class="container">
	<div class="row">
			<div id="Smallchat">
					<div class="Layout Layout-open Layout-expand Layout-right"
							style="background-color: #3F51B5;color: rgb(255, 255, 255);opacity: 5;border-radius: 10px;">
							<div class="Messenger_messenger">
									<div class="Messenger_header"
											style="background-color: rgb(22, 46, 98); color: rgb(255, 255, 255);">

											<div class="Avatar" style="width: 24px; height: 24px; display: none;" id="btnVolver">
												<img src="/img/bot.jpg" alt="" height="20" width="20">
											</div>

											<h4 class="Messenger_prompt">Yatbot</h4>
											<span class="chat_close_icon" id="btnCloseChat">
													<em class="fa fa-times"></em>
											</span>
									</div>
									<div class="Messenger_content" id="listMensajes" style="display: none;">
											<!-- Chat Mensajes -->
									<div>
										<div style="overflow-y:scroll; height: 300px; width: 100%;" align="center" id="msg">
											<div class="talk-bubble tri-right left-top" style="width: 90%; color:#808080; background-color: #eeeeee;">
												<div class="talktext">
													<img src="img/mix-bot.png" alt="" width="45" height="45"> Helo! How can I help?
												</div>
											</div>
										</div>
										<input type="text" id="input" class="form-control" onkeypress="return Send(event)" placeholder="Digite a sua mensagem e tecle Enter..." />
									</div>

											<!-- Chat Mensajes -->
									</div>

									<div class="Messenger_content" id="listUsuarios">
											<ul class="contacts">
													<li class="active" id="1">
															<div class="d-flex bd-highlight">
																	<div class="user_info">
																			<img src="/img/bot.jpg" alt="" height="50" width="50">
																			<span>Yavbot</span>
																			<p>Yavbot esta en linea</p>
																	</div>
															</div>
													</li>
											</ul>
									</div>

							</div>
					</div>
					<!--===============CHAT ON BUTTON STRART===============-->
					<div class="chat_on" id="btnChat">
							<span class="chat_on_icon" >
								<div id="botimg">
									<img src="/img/bot.jpg" alt="" height="18" width="18">
								</div>
							</span>
					</div>
					<!--===============CHAT ON BUTTON END===============-->
			</div>
	</div>
</div>
<!--===============END CHAT===============-->
