
/*===========================
     CHAT BOOT MENSAJES
   ===========================*/

	 #Smallchat .Messages,
	 #Smallchat .Messages_list {
			 -webkit-box-flex: 1;
			 -webkit-flex-grow: 1;
			 -ms-flex-positive: 1;
			 flex-grow: 1;
	 }
	 
	 .chat_close_icon {
			 cursor: pointer;
			 color: rgb(0, 0, 0);
			 font-size: 16px;
			 position: absolute;
			 right: 12px;
			 z-index: 9;
	 }
	 
	 #botimg img{
			 position: fixed;
			 z-index: 10;
			 width: 60px;
			 height: 60px;
			 right: 80px;
			 bottom: 20px;
			 border-radius: 50%;
			 text-align: center;
			 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
			 cursor: pointer;
			 display: block;
	 }
	 
	 .chat_on_icon {
			 color: #fff;
			 text-align: center;
	 }
	 
	 .chat_on_icon>i {
			 line-height: 40px;
	 }
	 
	 #Smallchat .Layout {
			 pointer-events: auto;
			 box-sizing: content-box!important;
			 z-index: 999999999;
			 position: fixed;
			 bottom: 20px;
			 min-width: 50px;
			 max-width: 300px;
			 max-height: 30px;
			 display: -webkit-box;
			 display: -webkit-flex;
			 display: -ms-flexbox;
			 display: flex;
			 -webkit-box-orient: vertical;
			 -webkit-box-direction: normal;
			 -webkit-flex-direction: column;
			 -ms-flex-direction: column;
			 flex-direction: column;
			 -webkit-box-pack: end;
			 -webkit-justify-content: flex-end;
			 -ms-flex-pack: end;
			 justify-content: flex-end;
			 border-radius: 50px;
			 box-shadow: 5px 0 20px 5px rgba(0, 0, 0, .1);
			 -webkit-animation: appear .15s cubic-bezier(.25, .25, .5, 1.1);
			 animation: appear .15s cubic-bezier(.25, .25, .5, 1.1);
			 -webkit-animation-fill-mode: forwards;
			 animation-fill-mode: forwards;
			 opacity: 0;
			 -webkit-transition: right .1s cubic-bezier(.25, .25, .5, 1), bottom .1s cubic-bezier(.25, .25, .5, 1), min-width .2s cubic-bezier(.25, .25, .5, 1), max-width .2s cubic-bezier(.25, .25, .5, 1), min-height .2s cubic-bezier(.25, .25, .5, 1), max-height .2s cubic-bezier(.25, .25, .5, 1), border-radius 50ms cubic-bezier(.25, .25, .5, 1) .15s, background-color 50ms cubic-bezier(.25, .25, .5, 1) .15s, color 50ms cubic-bezier(.25, .25, .5, 1) .15s;
			 transition: right .1s cubic-bezier(.25, .25, .5, 1), bottom .1s cubic-bezier(.25, .25, .5, 1), min-width .2s cubic-bezier(.25, .25, .5, 1), max-width .2s cubic-bezier(.25, .25, .5, 1), min-height .2s cubic-bezier(.25, .25, .5, 1), max-height .2s cubic-bezier(.25, .25, .5, 1), border-radius 50ms cubic-bezier(.25, .25, .5, 1) .15s, background-color 50ms cubic-bezier(.25, .25, .5, 1) .15s, color 50ms cubic-bezier(.25, .25, .5, 1) .15s
	 }
	 
	 #Smallchat .Layout-right {
			 right: 20px
	 }
	 
	 #Smallchat .Layout-open {
			 overflow: hidden;
			 min-width: 300px;
			 max-width: 300px;
			 height: 500px;
			 max-height: 500px;
			 border-radius: 10px;
			 color: #fff;
			 -webkit-transition: right .1s cubic-bezier(.25, .25, .5, 1), bottom .1s cubic-bezier(.25, .25, .5, 1.1), min-width .2s cubic-bezier(.25, .25, .5, 1.1), max-width .2s cubic-bezier(.25, .25, .5, 1.1), max-height .2s cubic-bezier(.25, .25, .5, 1.1), min-height .2s cubic-bezier(.25, .25, .5, 1.1), border-radius 0ms cubic-bezier(.25, .25, .5, 1.1), background-color 0ms cubic-bezier(.25, .25, .5, 1.1), color 0ms cubic-bezier(.25, .25, .5, 1.1);
			 transition: right .1s cubic-bezier(.25, .25, .5, 1), bottom .1s cubic-bezier(.25, .25, .5, 1.1), min-width .2s cubic-bezier(.25, .25, .5, 1.1), max-width .2s cubic-bezier(.25, .25, .5, 1.1), max-height .2s cubic-bezier(.25, .25, .5, 1.1), min-height .2s cubic-bezier(.25, .25, .5, 1.1), border-radius 0ms cubic-bezier(.25, .25, .5, 1.1), background-color 0ms cubic-bezier(.25, .25, .5, 1.1), color 0ms cubic-bezier(.25, .25, .5, 1.1);
	 }
	 
	 #Smallchat .Layout-expand {
			 height: 500px;
			 min-height: 500px;
			 display: none;
	 }
	 
	 #Smallchat .Layout-mobile {
			 bottom: 10px
	 }
	 
	 #Smallchat .Layout-mobile.Layout-open {
			 width: calc(100% - 20px);
			 min-width: calc(100% - 20px)
	 }
	 
	 #Smallchat .Layout-mobile.Layout-expand {
			 bottom: 0;
			 height: 100%;
			 min-height: 100%;
			 width: 100%;
			 min-width: 100%;
			 border-radius: 0!important
	 }
	 
	 @-webkit-keyframes appear {
			 0% {
					 opacity: 0;
					 -webkit-transform: scale(0);
					 transform: scale(0)
			 }
			 to {
					 opacity: 1;
					 -webkit-transform: scale(1);
					 transform: scale(1)
			 }
	 }
	 
	 @keyframes appear {
			 0% {
					 opacity: 0;
					 -webkit-transform: scale(0);
					 transform: scale(0)
			 }
			 to {
					 opacity: 1;
					 -webkit-transform: scale(1);
					 transform: scale(1)
			 }
	 }
	 
	 #Smallchat .Messenger_messenger {
			 position: relative;
			 height: 100%;
			 width: 100%;
			 min-width: 300px;
			 -webkit-box-orient: vertical;
			 -webkit-box-direction: normal;
			 -webkit-flex-direction: column;
			 -ms-flex-direction: column;
			 flex-direction: column
	 }
	 
	 #Smallchat .Messenger_header,
	 #Smallchat .Messenger_messenger {
			 display: -webkit-box;
			 display: -webkit-flex;
			 display: -ms-flexbox;
			 display: flex
	 }
	 
	 #Smallchat .Messenger_header {
			 -webkit-box-align: center;
			 -webkit-align-items: center;
			 -ms-flex-align: center;
			 align-items: center;
			 padding-left: 10px;
			 padding-right: 40px;
			 height: 40px;
			 -webkit-flex-shrink: 0;
			 -ms-flex-negative: 0;
			 flex-shrink: 0
	 }
	 
	 #Smallchat .Messenger_header h4 {
			 opacity: 0;
			 font-size: 16px;
			 -webkit-animation: slidein .15s .3s;
			 animation: slidein .15s .3s;
			 -webkit-animation-fill-mode: forwards;
			 animation-fill-mode: forwards
	 }
	 
	 #Smallchat .Messenger_prompt {
			 margin: 0;
			 font-size: 16px;
			 line-height: 18px;
			 font-weight: 400;
			 overflow: hidden;
			 white-space: nowrap;
			 text-overflow: ellipsis
	 }
	 
	 @-webkit-keyframes slidein {
			 0% {
					 opacity: 0;
					 -webkit-transform: translateX(10px);
					 transform: translateX(10px)
			 }
			 to {
					 opacity: 1;
					 -webkit-transform: translateX(0);
					 transform: translateX(0)
			 }
	 }
	 
	 @keyframes slidein {
			 0% {
					 opacity: 0;
					 -webkit-transform: translateX(10px);
					 transform: translateX(10px)
			 }
			 to {
					 opacity: 1;
					 -webkit-transform: translateX(0);
					 transform: translateX(0)
			 }
	 }
	 
	 #Smallchat .Messenger_content {
			 height: 450px;
			 -webkit-box-flex: 1;
			 -webkit-flex-grow: 1;
			 -ms-flex-positive: 1;
			 flex-grow: 1;
			 display: -webkit-box;
			 display: -webkit-flex;
			 display: -ms-flexbox;
			 display: flex;
			 -webkit-box-orient: vertical;
			 -webkit-box-direction: normal;
			 -webkit-flex-direction: column;
			 -ms-flex-direction: column;
			 flex-direction: column;
			 background-color: #fff;
	 }
	 
	 #Smallchat .Messages {
			 position: relative;
			 -webkit-flex-shrink: 1;
			 -ms-flex-negative: 1;
			 flex-shrink: 1;
			 display: -webkit-box;
			 display: -webkit-flex;
			 display: -ms-flexbox;
			 display: flex;
			 -webkit-box-orient: vertical;
			 -webkit-box-direction: normal;
			 -webkit-flex-direction: column;
			 -ms-flex-direction: column;
			 flex-direction: column;
			 overflow-x: hidden;
			 overflow-y: auto;
			 padding: 10px;
			 background-color: #fff;
			 -webkit-overflow-scrolling: touch;
	 }
	 
	 #Smallchat .Input {
			 position: relative;
			 width: 100%;
			 -webkit-box-flex: 0;
			 -webkit-flex-grow: 0;
			 -ms-flex-positive: 0;
			 flex-grow: 0;
			 -webkit-flex-shrink: 0;
			 -ms-flex-negative: 0;
			 flex-shrink: 0;
			 padding-top: 17px;
			 padding-bottom: 15px;
			 color: #96aab4;
			 background-color: #fff;
			 border-top: 1px solid #e6ebea;
	 }
	 
	 #Smallchat .Input-blank .Input_field {
			 max-height: 20px;
	 }
	 
	 #Smallchat .Input_field {
			 width: 100%;
			 resize: none;
			 border: none;
			 outline: none;
			 padding: 0;
			 padding-left: 0px;
			 padding-left: 20px;
			 padding-right: 75px;
			 background-color: transparent;
			 font-size: 16px;
			 line-height: 20px;
			 min-height: 20px !important;
	 }
	 
	 #Smallchat .Input_button-emoji {
			 right: 45px;
	 }
	 
	 #Smallchat .Input_button {
			 position: absolute;
			 bottom: 15px;
			 width: 25px;
			 height: 25px;
			 padding: 0;
			 border: none;
			 outline: none;
			 background-color: transparent;
			 cursor: pointer;
	 }
	 
	 #Smallchat .Input_button-send {
			 right: 15px;
	 }
	 
	 #Smallchat .Input-emoji .Input_button-emoji .Icon,
	 #Smallchat .Input_button:hover .Icon {
			 -webkit-transform: scale(1.1);
			 -ms-transform: scale(1.1);
			 transform: scale(1.1);
			 -webkit-transition: all .1s ease-in-out;
			 transition: all .1s ease-in-out;
	 }
	 
	 #Smallchat .Input-emoji .Input_button-emoji .Icon path,
	 #Smallchat .Input_button:hover .Icon path {
			 fill: #2c2c46;
	 }
	 
	 #Smallchat .Message_content {
			 min-width: 40px;
			 min-height: 40px;
			 max-width: 100%;
			 display: -webkit-box;
			 display: -webkit-flex;
			 display: -ms-flexbox;
			 display: flex;
			 -webkit-box-align: end;
			 -webkit-align-items: flex-end;
			 -ms-flex-align: end;
			 align-items: flex-end;
			 padding: 10px;
			 border-radius: 10px;
			 font-size: 14px;
			 line-height: 18px;
			 color: #2c2c46;
			 -webkit-animation: messagein .15s;
			 animation: messagein .15s
	 }
	 
	 #Smallchat .Message-slack .Message_content {
			 border: 1px solid #e6ebea;
			 -webkit-transform-origin: top left;
			 -ms-transform-origin: top left;
			 transform-origin: top left
	 }
	 
	 #Smallchat .Message-client .Message_content {
			 background-color: #f4f6f6;
			 -webkit-transform-origin: top right;
			 -ms-transform-origin: top right;
			 transform-origin: top right
	 }
	 
	 #Smallchat .Message-app .Message_content {
			 background-color: #f4f6f6;
			 -webkit-transform-origin: top left;
			 -ms-transform-origin: top left;
			 transform-origin: top left;
			 color: #96aab4
	 }
	 
	 #Smallchat .Message-client {
			 padding-left: 40px;
			 -webkit-box-align: end;
			 -webkit-align-items: flex-end;
			 -ms-flex-align: end;
			 align-items: flex-end
	 }
	 
	 #Smallchat .Message-client+.Message-slack,
	 #Smallchat .Message-slack+.Message-client {
			 margin-top: 8px
	 }
	 
	 #Smallchat .Message-client+.Message-client,
	 #Smallchat .Message-slack+.Message-slack {
			 margin-top: 3px
	 }
	 
	 #Smallchat .Trigger_message .SlackText {
			 font-size: 16px;
			 line-height: 21px
	 }
	 
	 #Smallchat .Trigger_message .SlackText a {
			 color: inherit
	 }
	 
	 #Smallchat .SlackText {
			 font-size: 14px;
			 line-height: 18px;
			 width: 100%;
			 word-wrap: break-word
	 }
	 
	 #Smallchat .SlackText-only-emoji {
			 font-size: 32px
	 }
	 
	 #Smallchat .Message_timestamp {
			 font-size: 10px;
			 line-height: 12px;
			 color: #96aab4
	 }
	 
	 #Smallchat .Message {
			 overflow: hidden;
			 max-width: 100%;
			 position: relative;
			 display: -webkit-box;
			 display: -webkit-flex;
			 display: -ms-flexbox;
			 display: flex;
			 -webkit-box-orient: vertical;
			 -webkit-box-direction: normal;
			 -webkit-flex-direction: column;
			 -ms-flex-direction: column;
			 flex-direction: column;
			 color: #2c2c46
	 }
	 
	 #Smallchat .Message b,
	 #Smallchat .Message strong {
			 font-weight: 700
	 }
	 
	 #Smallchat .Message pre {
			 margin: 0
	 }
	 
	 #Smallchat .Message code {
			 color: #ff664c;
			 font-family: monospace !important;
			 background-color: #f4f6f6;
			 border: 1px solid #e6ebea;
			 border-radius: 2px
	 }
	 
	 #Smallchat .Message blockquote {
			 margin: 0;
			 padding-left: 5px;
			 border-left: 3px solid #96aab4
	 }
	 
	 #Smallchat .Message .Avatar {
			 position: absolute;
			 left: 0;
			 top: 8px
	 }
	 
	 #Smallchat .Message-app,
	 #Smallchat .Message-slack {
			 padding-left: 30px;
			 padding-right: 40px;
			 -webkit-box-align: start;
			 -webkit-align-items: flex-start;
			 -ms-flex-align: start;
			 align-items: flex-start
	 }
	 
	 #Smallchat .Message-app {
			 margin: 8px 0
	 }
	 
	 #Smallchat .Message-app .AppIcon {
			 position: absolute;
			 left: 0;
			 top: 8px
	 }
	 
	 #Smallchat .Message-slack .AppIcon {
			 position: absolute;
			 left: 0;
			 top: 8px
	 }
	 
	 .AppIcon {
			 width: 30px;
			 height: 30px;
			 border-radius: 18px 18px 18px 0px;
			 -webkit-flex-shrink: 0;
			 -ms-flex-negative: 0;
			 flex-shrink: 0;
			 display: -webkit-box;
			 display: -webkit-flex;
			 display: -ms-flexbox;
			 display: flex;
			 -webkit-box-align: center;
			 -webkit-align-items: center;
			 -ms-flex-align: center;
			 align-items: center;
			 -webkit-box-pack: center;
			 -webkit-justify-content: center;
			 -ms-flex-pack: center;
			 justify-content: center;
			 background-color: #96aab4;
	 }
	 
	 .AppIcon .Icon {
			 position: relative;
			 top: -1px;
			 color: #fff;
			 font-weight: bold;
	 }
	 
	 .Icon>span {
			 font-size: 0.8em;
			 margin-left: -3px;
			 line-height: 17px;
	 }
	 
	 #Smallchat .Trigger_content .Avatar {
			 -webkit-align-self: flex-start;
			 -ms-flex-item-align: start;
			 align-self: flex-start;
			 margin-right: 10px
	 }
	 
	 #Smallchat .Messenger_header .Avatar {
			 margin-right: 5px;
			 /* opacity: 0; */
			 -webkit-animation: fadein .15s .3s;
			 animation: fadein .15s .3s;
			 -webkit-animation-fill-mode: forwards;
			 animation-fill-mode: forwards
	 }
	 
	 .Avatar>i {
			 line-height: 25px;
	 }
	 
	 #Smallchat .Avatar {
			 -webkit-box-flex: 0;
			 -webkit-flex-grow: 0;
			 -ms-flex-positive: 0;
			 flex-grow: 0;
			 -webkit-flex-shrink: 0;
			 -ms-flex-negative: 0;
			 flex-shrink: 0;
			 overflow: hidden;
			 border-radius: 10%;
	 }
	 
	 #Smallchat .Avatar-round {
			 width: 30px;
			 height: 30px;
			 border-radius: 18px 18px 18px 0px;
	 }
	 
	 #Smallchat .Avatar_image {
			 width: 30px;
			 height: 30px;
	 }