.contacts {
    list-style: none;
    padding: 0px;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.img_cont {
    position: relative;
    height: 40px;
    width: 40px;
    padding: 3px;
}

.user_img {
    height: 40px;
    width: 40px;
    border: 1px solid #f5f6fa;
}

.online_icon {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: -0.3em;
    border: 1px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: -15px;
}

.user_info span {
    font-size: 15px;
    color: #000000;
}

.user_info p {
    font-size: 10px;
    margin-bottom: 6px;
    color: rgba(0, 0, 0, 0.6);
}